<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>WeatherWeb</title>
    <link rel="icon" href="Images/weather-news.png">
    <link rel="stylesheet" href="styleshome.css">
    <link rel="stylesheet" href="<link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu&display=swap" rel="stylesheet">
</head>
<body>
    
    <div class="homebackground">
        <div class="logo">
            <img class="imagelogo"  src="Images/weather-news.png">
            <h1>WeatherWeb</h1>
        </div>
        <div class="searchbardiv">
            <form action="/" method="post">
                <input class="searchbar" type="text" name="search" placeholder="Search Location">
                <button class="searchbutton" type="submit">🔍</button>
            </form>
            
    
        </div>
    </div>
    
</body>
</html>